[Desktop Entry]
Type=Application
Name=QGC Settings Mockup
Comment=QGC settings reskining mockup QML application
Exec=/usr/bin/SettingsMockup
Icon=SettingsMockup
Terminal=false
Categories=Development;
